#Cabecalho
{
    float:                  left;
    position:               relative;
    display:                block;
    margin:                 0 auto;
    height:                 235px;
    width:                  100%;
    
    background-image:       linear-gradient(to right, #C6F7A6 10%, transparent 50%), url('../imagens/fundos/fundo_padrao.jpg');
    background-position:    bottom right, center calc(50% - 150px);
    background-repeat:      initial, no-repeat;
    background-size:        cover;
    background-attachment:  scroll;
}

#Logo
{
    float:          left;
    position:       relative;
    margin:         0 0 25px 0;
    width:          100%;
}

#Logo a
{
    display:                block;
    width:                  250px;
    height:                 141px;
    background-image:       url(../imagens/logo.png);
    background-repeat:      no-repeat;
    background-position:    center center;
    background-size:        auto;
    //background-color: #BBB;
}

#ContainerDadosDoUsuario
{
    float:          right;
    position:       relative;
    margin-right:   10px;
    width:          calc(25% - 10px);
    height:         22px;
    min-width:      200px;
    text-align:     right;
    //background-color: #DDD;
}

#ContainerDadosDoUsuario label
{
    display:        inline;
}

#ContainerMenuSuperior
{
    float:      left;
    position:   relative;
    margin-top: 2px;
    width:      100%;
    height:     46px;
    
    background-color:   #f0f0f0;
    background-image:   -webkit-gradient    (linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
    background-image:   -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image:   -o-linear-gradient  (#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image:   -ms-linear-gradient (#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image:   linear-gradient     (#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
}

.MenuSuperior
{
    float:              left;   
    position:           relative;
    margin:             10px 0 0 calc(100% / 2 - 625px / 2 - 15px);
    text-align:         center;
    //background-color:   #F00;
}

#Menu
{
    float:  left;
    width:  145px;
    bottom: 10px;
}

#MenuHome
{
    bottom: 10px;
}

.MenuSuperior li
{
    float:              left;
    position:           relative;
    border-right:       1px solid rgba(9, 9, 9, 0.125);
    box-shadow:         1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow:    1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    list-style:         none;
}

.MenuSuperior li:after
{
    content:            '.';
    text-indent:        -9999px;
    overflow:           hidden;
    position:           absolute;
    width:              100%;
    height:             100%;
    
    top:                0;
    left:               0;
    z-index:            1;
    opacity:            0;
    
    background-image:   -webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
    background-image:   -moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:   -o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:   -ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:   linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    
    -moz-transition:    0.25s all;
    -webkit-transition: 0.25s all;
    -o-transition:      0.25s all;
    transition:         0.25s all;
    
    box-shadow:         -1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:    -1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow: -1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
}

.MenuSuperior li:first-child
{
    border-radius:  4px 0 0 4px;
}

.MenuSuperior li:first-child:after,
.MenuSuperior li.selected:first-child:after
{
    box-shadow:         1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:    1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow: 1px 0 0 #a3a3a3,2px 0 0 #fff;

    border-radius:      4px 0 0 4px;
}

.MenuSuperior li:last-child
{
    border-radius:      0 4px 4px 0;
}

.MenuSuperior li:last-child:after,
.MenuSuperior li.selected:last-child:after
{
    box-shadow:         -1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -moz-box-shadow:    -1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow: -1px 0 0 #a3a3a3,-2px 0 0 #fff;
    border-radius:      0 4px 4px 0;
}

.MenuSuperior li:hover:after,
.MenuSuperior li.selected:after,
.MenuSuperior li:target:after
{
    opacity:    1;
}

.MenuSuperior:hover li.selected:after,
.MenuSuperior:hover li:target:after
{
    opacity:    0;
}

.MenuSuperior li.selected:hover:after,
.MenuSuperior li:target:hover:after
{
    opacity:    1 !important;
}

.MenuSuperior li a
{
    color:          #5d5d5d;
    display:        inline-block;
    font:           20px/1 Lobster,Arial,sans-serif;
    padding:        12px 0 14px 0;
    position:       relative;
    text-shadow:    1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index:        2;
    text-decoration:none !important;
    white-space:    nowrap;
}

.MenuSuperior a.Home
{
    background:     url('../imagens/topmenu/home.png') no-repeat center center;
    display:        block;
    overflow:       hidden;
    padding-left:   12px;
    padding-right:  12px;
    text-indent:    -9999px;
    width:          16px;
}

#ContainerNavegacao
{
    float:              left;
    position:           relative;
    //margin:             21px 0 5px 0;
    width:              75%;
    height:             22px;
    min-width:          515px;
    text-align:         left;
    text-shadow:        none;
    //background-color: #FF0;
}

#ContainerNavegacao label
{
    float:              left;
    position:           relative;
    margin:             1px 10px 0 10px;
    color:              #000;
    text-align:         left;
    text-shadow:        1px 1px 0 #CCC;
}

#ContainerBusca
{
    float:              right;
    position:           relative;
    margin:             12px 10px 0 0;
    padding:            0;
    min-width:          fit-content;
    //background-color:   #09F;
}

#ContainerBusca .Procura
{
    float:      left;
    width:      170px;
    margin:     0 auto;
    padding:    0;
}

#ContainerBusca .Procurar
{
    float:      right;
    width:      69px;
    margin:     0 auto;
    padding:    0;
}

#ContainerBusca form
{
    float:          right;
    position:       relative;
    font-size:      0px;
    margin:         0 auto;
    padding:        0px;
    display:        inline-block;
    //background-color: #0F0;
}

#ContainerBusca input
{
    outline:                none;
    border:                 1px solid #AEB1E3; 
    border-radius:          5px 0 0 5px;
    -webkit-border-radius:  5px 0 0 5px;
    -moz-border-radius:     5px 0 0 5px;
    border:                 1px solid #AEB1E3;
    box-shadow:             -1px 1px 5px #E0FFFF;
    background-color:       #F8F8FF;
    background:             url('../imagens/lupa_2.png') no-repeat -webkit-linear-gradient(#F8F8FF, #DCDCDC);
    background:             url('../imagens/lupa_2.png') no-repeat -moz-linear-gradient(#F8F8FF, #DCDCDC);
    background:             url('../imagens/lupa_2.png') no-repeat -o-linear-gradient(#F8F8FF, #DCDCDC);
    background:             url('../imagens/lupa_2.png') no-repeat -ms-linear-gradient(#F8F8FF, #DCDCDC);
    background:             url('../imagens/lupa_2.png') no-repeat, linear-gradient(#F8F8FF, #DCDCDC);
    background-size:        16px 16px;
    background-position:    3px;
    color:                  #777; 
    font-family:            helvetica, arial, sans-serif;
    font-size:              13px;
    font-weight:            400;
    text-shadow:            0 -1px 5px #AAA;
    text-indent:            23px;
}

#ContainerBusca input:focus
{
    box-shadow:             -1px 1px 5px #E0FFFF;
    background-color:       #F8F8FF;
    background:             url('../imagens/lupa_2.png') no-repeat -webkit-linear-gradient(#F8F8FF, #DCDCDC);
    background:             url('../imagens/lupa_2.png') no-repeat -moz-linear-gradient(#F8F8FF, #DCDCDC);
    background:             url('../imagens/lupa_2.png') no-repeat -o-linear-gradient(#F8F8FF, #DCDCDC);
    background:             url('../imagens/lupa_2.png') no-repeat -ms-linear-gradient(#F8F8FF, #DCDCDC);
    background:             url('../imagens/lupa_2.png') no-repeat, linear-gradient(#F8F8FF, #DCDCDC);
    background-size:        16px 16px;
    background-position:    3px;
    color:                  #333;
    text-shadow:            0.5px 0.5px 5px #777;
    animation:              pulsar 1s ease 0.5s infinite alternate;
    -moz-animation:         pulsar 1s ease 0.5s infinite alternate;
    -webkit-animation:      pulsar 1s ease 0.5s infinite alternate;
}

#ContainerBusca input::-webkit-input-placeholder        { color: #AAA; }
#ContainerBusca input:-moz-placeholder                  { color: #AAA; }
#ContainerBusca input:focus::-webkit-input-placeholder  { color: #AAA; }
#ContainerBusca input:focus:-moz-placeholder            { color: #AAA; }

#ContainerBusca button
{
    float:              left;
    position:           relative;
    display:            block;
    padding:            0;
    height:             20px;
    width:              80px;
    line-height:        20px;
    
    color:              #666; 
    text-shadow:        0 -1px 0 #AAA;
        
    box-shadow:         -1px 1px 5px #E0FFFF;
    background:         -webkit-linear-gradient(#F8F8FF, #DCDCDC);	
    background:         -moz-linear-gradient(#F8F8FF, #DCDCDC);	
    background:         -o-linear-gradient(#F8F8FF, #DCDCDC);	
    background:         -ms-linear-gradient(#F8F8FF, #DCDCDC);	
    background:         linear-gradient(#F8F8FF, #DCDCDC);	
    
    -webkit-box-sizing: content-box;
    -moz-box-sizing:    content-box;
    -o-box-sizing:      content-box;
    -ms-box-sizing:     content-box;
    box-sizing:         content-box;
    
    border:             1px solid #AEB1E3;
    box-shadow:         -1px 1px 5px #E0FFFF;
    border-left-color:  #AEB1E3;
    border-radius:      0 5px 5px 0;

    font-family:        helvetica, arial, sans-serif;
    font-size:          13px;
    font-weight:        400;
}	

#ContainerBusca button:hover,
#ContainerBusca button:focus
{
    box-shadow:     -1px 1px 5px #E0FFFF;
    color:          #333; 
    text-shadow:    0 -1px 0 #999;
    background:     -webkit-linear-gradient(#D6D6DD, #B9B9B9);
    background:     -moz-linear-gradient(#D6D6DD, #B9B9B9);
    background:     -o-linear-gradient(#D6D6DD, #B9B9B9);
    background:     -ms-linear-gradient(#D6D6DD, #B9B9B9);
    background:     linear-gradient(#D6D6DD, #B9B9B9);
}

#ContainerBusca button:active
{
    color:                  transparent;   
    background:             url("../imagens/carregando1616.gif") no-repeat -webkit-linear-gradient(#B4B4BB, #979797);
    background:             url("../imagens/carregando1616.gif") no-repeat -moz-linear-gradient(#B4B4BB, #979797);
    background:             url("../imagens/carregando1616.gif") no-repeat -o-linear-gradient(#B4B4BB, #979797);
    background:             url("../imagens/carregando1616.gif") no-repeat -ms-linear-gradient(#B4B4BB, #979797);
    background:             url("../imagens/carregando1616.gif") no-repeat, linear-gradient(#B4B4BB, #979797);
    background-size:        16px 16px;
    background-position:    center;
    text-shadow:            0 -1px 0 #CCC;
    box-shadow:             0 1px 0 #E0EEEE inset, 1px 0 1px #C1CDCD inset;
}

#Rastro
{
    float:              left;
    margin:             0 auto;
    padding:            0;
    border:             1px solid #DEDEDE;
    background-color:   #FFF;
}

#Rastro ul, li
{
    list-style-type:    none;
    line-height:        20px;
    bottom:             100px;
}

#Rastro .Index
{
    float:      left;
    margin:     0 auto;
    padding:    0 15px 0 5px;
    color:      #777;
    bottom:     100px;
}

#Rastro li
{
    float:      left;
    margin:     0 auto;
    padding:    0 0 0 5px;
    color:      #777;
    bottom:     100px;
}

#Rastro li a
{
    display:    block;
    padding:    0 15px 0 0;
    background: url(../imagens/rastros.png) no-repeat right center;
}

#Rastro li a:link,
#Rastro li a:visited
{
    color:              #777;
    
}

#Rastro li a:hover,
#Rastro li a:focus
{
    color:  #DD2C0D;
}