/*Definições Globais para colunas e */
#ContainerColunas
{
    float:              left;
    position:           relative;
    padding:            0;
    margin:             10px 0 10px 0.5%;
    width:              99%;
    height:             648px;
    min-height:         200px;
    max-height:         648px;
    overflow:           auto;
    border-bottom:              1px solid #AAA;
    border-bottom-left-radius:  2px;
    border-bottom-left-radius:  2px;
}

/*Colunas Padrão*/
.Colunas
{
    float:                  left;
    position:               relative;
    min-width:              360px;
    margin-bottom:          30px;
    text-align:             center;
    text-shadow:            none;
}

#Colunas img
{
    margin: 10px auto -15px auto;
}

.Coluna1_1
{
    margin-top: 10px;
    width: 100%;
}

.Coluna1_2, .Coluna2_2
{
    margin-top: 10px;
    width: 50%;
}

.Coluna1_2
{
    float: left;
}

.Coluna2_2
{
    float: right;
}

.Coluna1_3, .Coluna2_3, .Coluna3_3
{
    margin-top: 10px;
    width: calc(100% / 3 - 0.1px);
}

/*Coluna da Esquerda Maior*/
.Coluna1_2E
{
    
}

.Coluna2_2E
{
    
}

/*Coluna da Direita Maior*/
.Coluna1_2D
{
    
}

.Coluna2_2D
{
    
}