/*Definições globais para elementos gerais*/
html, body { margin: 0 auto; padding: 0; width: 100%; height: auto; font-size: 100%; }

img, picture, video, embed { max-width: 100%; height: auto; }

a, a:link, a:visited
{
    color:              #CD5C5C;
    text-decoration:    none;
    font-weight:        bold;
    cursor:             pointer;
}
a:hover     { color: #B22222; }

form        { margin: 0 0 20px 0; }
h1, h2, h3, h4, h5, h6 { text-align: center; }
p           { margin: 0 auto; }
ul, ol      { padding: 0px; margin: 0px 0px 10px 25px; }