@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; border:0; background-image:           url('../imagens/fundos/fundo_padrao.jpg');
}



div#topo{
	background:url(imagens/logo_padrao.jpg); width:auto; height:250px;   
}

body{background:#FFF}

.active_um{
	margin-left: 350px;

	
}

.active_dois{
	margin-left: 120px;

}

.dropdown_um {
	margin-left: 120px;
	
}

.meio{
	margin-left:50%;
	
	
}



