/*Página Login*/
#ContainerFormularioLogin
{
    /*Container Principal*/
    position:	relative;
    margin:		0 auto;
	margin-top: 2%;
    padding:	5px 5px 50px 0px;
    width:		calc(100% - 12px);
	max-width:	500px;
	//margin-left: calc(100% / 2 - 250px); //Posicionar corretamente de acordo com as bordas.
    //min-width:	250px;
    
    //border:		1px solid #FFFFE0;
    //background-color:	#1C1C1C;    
    
   // -moz-box-shadow:	0 0 900px #FFFFE0 inset;
   // -webkit-box-shadow:	0 0 900px #FFFFE0 inset;
   // box-shadow:         0 0 900px #FFFFE0 inset;
    
    //background-color:   #000000;
}

#ContainerFormularioLogin h1
{
    font-family:        Century Gothic, Old Standard TT, Myriad Pro, Arial, Helvetica, Sans-Serif;
    font-size:          2em;
    font-weight:        normal;
    text-align:         center;
    
    //background-color:   #0000FF;
}

.Estado
{
   color:              #F90;
    font-size:          12px;
    height:             18px;
    letter-spacing:     0px;
    width:              81.5%;
    float:              right;
    margin:             0 8.5% 0 0;
    text-align:         right;
    
    //background-color:   #000044;
}

.ContainerDeCampos
{
   height:             90px;
    width:              calc(100%);
    min-width:          250px;
	margin-left:		10px;
   // border:				1px solid #E9967A;
    //-moz-box-shadow:	0 0 90px #FA8072 inset;
    //-webkit-box-shadow:	0 0 90px #FA8072 inset;
   // box-shadow:         0 0 90px #FA8072 inset;
    
    //background-color:   #00FF88;
}

#Status
{
    float:              left;
    position:           relative;
    margin-left:        80px;
	margin-top:			-5px;
	
	
	
    //background-color:   #0000CC;
}

#Status p
{
    float:              left;
    position:           relative;
    margin:             0 auto;
   
    //background-color:   #0000FF;
}

.ContainerDeBotoes
{
    float:              right;
    position:           relative;
    margin-right:       0%;
    padding:            0;
    height:             40px;
	
    
    //background-color:   #004400;
}

#ContainerFormularioLogin, .ContainerDeCampos
{
    -moz-border-radius:		12px;
    -webkit-border-radius:	12px;
    border-radius:			12px;
}

.LinhaFormulario
{
    float:              left;
    margin:             12px 0 0 0;
    width:              100%;
    min-width:          fit-content;
    min-height:         fit-content;
    
    //background-color:   #008800;
}

.Campo
{
    float:          left;
    width:          calc(100% - 100px);
    margin-left:    calc(50% - 200px);
    
    //background-color:   #00CC00;
}

.Campo input:hover
{
    border:                 1px solid  	#FF6347;
    box-shadow:             0px 0px 2px #FF6347;    
    -moz-box-shadow:        0px 0px 2px #FF6347;
    -webkit-box-shadow:     0px 0px 2px #FF6347;
}

.Campo input:focus
{
    border:                 1px solid  	#FF6347;
    box-shadow:             0px 0px 2px #FF6347;    
    -moz-box-shadow:        0px 0px 2px #FF6347;
    -webkit-box-shadow:     0px 0px 2px #FF6347;
}

/*#ContainerColunas
{
    background-color:       transparent;
    border:                 0;
    -webkit-border-radius:  0;
    -moz-border-radius:     0;
    border-radius:          0;
    
    background-color:   #00FF00;
}*/

/*Definições específica dos campos e botões de login*/
#Login
{
    background-color:     #FFFFFF; 
    background-attachment: scroll;
    background-image:      url("../imagens/icones/icone_usuario.png");//, url("../imagens/fundo_textbox.png");
    background-repeat:     no-repeat, repeat-x;
    background-position:   7px 5px, right top;
}

#Senha
{    
    background-color:      #FFFFFF; 
    background-attachment: scroll;
    background-image:      url("../imagens/icones/icone_senha.png");//, url("../imagens/fundo_textbox.png");
	margin-top:			-10px;
    background-repeat:     no-repeat, repeat-x;
    background-position:   7px 5px, right top;
}

#Entrar
{
    color:                 #CAFF70;
    text-shadow:           #9BCD9B;
    border-color:          #008B45;
    background-color:      #A2CD5A;
    background-image:      url("../imagens/icones/icone_correto.png"), -webkit-linear-gradient(top, #00CD00, #228B22);
    background-image:      url("../imagens/icones/icone_correto.png"), -moz-linear-gradient(top, #00CD00, #228B22);
    background-image:      url("../imagens/icones/icone_correto.png"), -ms-linear-gradient(top, #00CD00, #228B22);
    background-image:      url("../imagens/icones/icone_correto.png"), -o-linear-gradient(top, #00CD00, #228B22);
    background-image:      url("../imagens/icones/icone_correto.png"), linear-gradient(to bottom, #00CD00, #228B22);
    background-repeat:     no-repeat;
    background-position:   7px 6px, top left;
    background-size:       16px 16px, cover;
	margin-left:		   -200px;
	margin-top:			   5px;
}

#Entrar:hover
{
    background-color:      #00AB00;
    background-image:      url("../imagens/icones/icone_correto.png"), -webkit-linear-gradient(top, #00AB00, #006900);
    background-image:      url("../imagens/icones/icone_correto.png"), -moz-linear-gradient(top, #00AB00, #006900);
    background-image:      url("../imagens/icones/icone_correto.png"), -ms-linear-gradient(top, #00AB00, #006900);
    background-image:      url("../imagens/icones/icone_correto.png"), -o-linear-gradient(top, #00AB00, #006900);
    background-image:      url("../imagens/icones/icone_correto.png"), linear-gradient(to bottom, #00AB00, #006900);
}

#Entrar:active
{
    color:                  transparent;
    background-image:       url("../imagens/carregando1616.gif"), -webkit-linear-gradient(top, #006900, #003600);
    background-image:       url("../imagens/carregando1616.gif"), -moz-linear-gradient(top, #006900, #003600);
    background-image:       url("../imagens/carregando1616.gif"), -ms-linear-gradient(top, #006900, #003600);
    background-image:       url("../imagens/carregando1616.gif"), -o-linear-gradient(top, #006900, #003600);
    background-image:       url("../imagens/carregando1616.gif"), linear-gradient(to bottom, #006900, #003600);
}

#Ajuda
{
	width:					calc(100% / 4 - 8px);
    background-image:		url("../imagens/icones/icone_questao.png"), -webkit-linear-gradient(top, #FFF68F, #CDC673);
    background-image:		url("../imagens/icones/icone_questao.png"), -moz-linear-gradient(top, #FFF68F, #CDC673);
    background-image:		url("../imagens/icones/icone_questao.png"), -ms-linear-gradient(top, #FFF68F, #CDC673);
    background-image:		url("../imagens/icones/icone_questao.png"), -o-linear-gradient(top, #FFF68F, #CDC673);
    background-image:		url("../imagens/icones/icone_questao.png"), linear-gradient(to bottom, #FFF68F, #CDC673);
    background-repeat:		no-repeat;
    background-position:	7px 6px, top left;
    background-size:		16px 16px, cover;
}

#Ajuda:Hover
{
    background-image:	url("../imagens/icones/icone_questao.png"), -webkit-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/icones/icone_questao.png"), -moz-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/icones/icone_questao.png"), -ms-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/icones/icone_questao.png"), -o-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/icones/icone_questao.png"), linear-gradient(to bottom, #EEE685, #8B864E);
}

#Ajuda:Active
{
    background-image:	url("../imagens/carregando1616.gif"), -webkit-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/carregando1616.gif"), -moz-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/carregando1616.gif"), -ms-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/carregando1616.gif"), -o-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/carregando1616.gif"), linear-gradient(to bottom, #EEE685, #8B864E);
}

#Sobre
{
	width:					calc(100% / 4 - 8px);
    background-image:		url("../imagens/icones/icone_informacao.png"), -webkit-linear-gradient(top, #FFF68F, #CDC673);
    background-image:		url("../imagens/icones/icone_informacao.png"), -moz-linear-gradient(top, #FFF68F, #CDC673);
    background-image:		url("../imagens/icones/icone_informacao.png"), -ms-linear-gradient(top, #FFF68F, #CDC673);
    background-image:		url("../imagens/icones/icone_informacao.png"), -o-linear-gradient(top, #FFF68F, #CDC673);
    background-image:		url("../imagens/icones/icone_informacao.png"), linear-gradient(to bottom, #FFF68F, #CDC673);
    background-repeat:		no-repeat;
    background-position:	7px 6px, top left;
    background-size:		16px 16px, cover;
}

#Sobre:Hover
{
    background-image:   url("../imagens/icones/icone_informacao.png"), -webkit-linear-gradient(top, #EEE685, #8B864E);
    background-image:   url("../imagens/icones/icone_informacao.png"), -moz-linear-gradient(top, #EEE685, #8B864E);
    background-image:   url("../imagens/icones/icone_informacao.png"), -ms-linear-gradient(top, #EEE685, #8B864E);
    background-image:   url("../imagens/icones/icone_informacao.png"), -o-linear-gradient(top, #EEE685, #8B864E);
    background-image:   url("../imagens/icones/icone_informacao.png"), linear-gradient(to bottom, #EEE685, #8B864E);
}

#Sobre:Active
{
  background-image:	url("../imagens/carregando1616.gif"), -webkit-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/carregando1616.gif"), -moz-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/carregando1616.gif"), -ms-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/carregando1616.gif"), -o-linear-gradient(top, #EEE685, #8B864E);
    background-image:	url("../imagens/carregando1616.gif"), linear-gradient(to bottom, #EEE685, #8B864E);
}


/*Código responsivo*/
@media only screen
and (max-device-width: 320px)
and (min-device-height: 480px)
{
    #ContainerFormularioLogin		{ }
    #ContainerFormularioLogin h1	{ font-family: Century Gothic, Old Standard TT, Myriad Pro, Arial, Helvetica, Sans-Serif; font-size: 1.3em; }
    .Estado							{ width: 100%; margin: 0 auto; }
    .ContainerDeCampos				{ height: 80px; }
    .LinhaFormulario				{ margin: 8px 0 0 0; width: 100%; }
	.Campo							{ float: left; width: calc(100% - 20px); margin-left: 10px; }
	#Ajuda, #Sobre					{ width: calc(100% - 8px); }
}

@media only screen /*Retrato*/
and (max-device-width: 320px)
and (min-device-height: 480px)
and (orientation: portrait)
{
    #ContainerFormularioLogin		{ margin-left: 3px; }
    #ContainerFormularioLogin h1	{ font-size: 1.3em; }
    .Estado							{ width: 100%; margin: 0 auto; }
    .ContainerDeCampos				{ height: 80px; }
    .LinhaFormulario				{ margin: 8px 0 0 0; width: 100%; }
	.Campo							{ float: left; width: calc(100% - 20px); margin-left: 10px; }
    #Ajuda, #Sobre					{ width: calc(100% - 8px); }
}
 
@media only screen /*Paisagem*/
and (max-device-width: 480px)
and (min-device-height: 320px)
and (orientation: landscape)
{
	#ContainerFormularioLogin		{ }
    #ContainerFormularioLogin h1	{ font-size: 1.1em; }
    .Estado							{ width: 100%; margin: 0 auto;  }
    .ContainerDeCampos				{ height: 80px; }
    .LinhaFormulario				{ margin: 8px 0 0 0; width: 100%; }
	.Campo							{ float: left; width: calc(100% - 20px); margin-left: 10px; }
    #Ajuda, #Sobre					{ margin-right: -0.5px; width: calc(100% - 8px); }
}

@media only screen
and (max-device-width: 360px)
and (min-device-height: 640px)
{
	#ContainerFormularioLogin		{ }
    #ContainerFormularioLogin h1	{ }
    .Estado							{ width: 100%; margin: 0 auto; }
    .ContainerDeCampos				{ height: 80px; }
    .LinhaFormulario				{ margin: 8px 0 0 0; width: 100%; }
	.Campo							{ float: left; width: calc(100% - 20px); margin-left: 10px; }
	#Ajuda, #Sobre					{ width: calc(100% - 8px); margin-left: 2px; }
}

@media only screen /*Retrato*/
and (max-device-width: 360px)
and (min-device-height: 640px)
and (orientation: portrait)
{
	#ContainerFormularioLogin		{ }
    #ContainerFormularioLogin h1	{ }
    .Estado							{ width: 100%; margin: 0 auto; }
    .ContainerDeCampos				{ height: 80px; }
    .LinhaFormulario				{ margin: 8px 0 0 0; width: 100%; }
	.Campo							{ float: left; width: calc(100% - 20px); margin-left: 10px; }
    #Ajuda, #Sobre					{ width: calc(100% - 8px); margin-left: 2px; }
}

@media only screen /*Paisagem*/
and (max-device-width: 640px)
and (min-device-height: 360px)
and (orientation: landscape)
{
	#ContainerFormularioLogin		{ }
    #ContainerFormularioLogin h1	{ }
    .Estado							{ width: 100%; margin: 0 auto; }
    .ContainerDeCampos				{ height: 80px; }
    .LinhaFormulario				{ margin: 8px 0 0 0; width: 100%; }
	.Campo							{ float: left; width: calc(100% - 20px); margin-left: 10px; }
    #Ajuda							{ float: left; margin-left: 5px; width: calc(100% / 2 - 8px); }
	#Sobre							{ float: right; margin-right: 5px; width: calc(100% / 2 - 8px); }
}





#Botao{
	margin-top: 12%;
}


 
/*iPads (portrait e landscape)*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
{

}
 
/*iPads (landscape)*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
{

}
 
/*iPads (portrait)*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
{

}
 
/*Desktops e laptops*/
@media only screen
and (min-width: 1224px)
{

}

/*Telas grandes*/
@media only screen
and (min-width: 1824px)
{

}
 
/*iPhone 4*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
{

}