footer          { float: left; position: relative; clear: both; margin: 10px 0 0 6.54166666666666666666666666666667px; /*6.5px*/ width: 100%; max-width: 1200px; height: 15px; padding: 3px 0 10px 0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
footer p        { margin: 0 auto; }
#Rodape         { float: left; width: 100%; /*font-family: 'Cardo', serif;*/ font-size: 10px; }
.Copyright      { width: 100%; float: left; text-align: center; }
.Desenvolvedor  { width: 100%; float: right; text-align: center; }


/*Código responsivo*/
@media only screen /*Smartfones*/
and (max-device-width: 320px)
and (min-device-height: 480px)
{

}
 

@media only screen /*Smartfones retrato*/
and (max-device-width: 320px)
and (max-device-height: 480px)
and (orientation: portrait)
{

}

@media only screen /*Smartfones paisagem*/
and (max-device-width: 480px)
and (min-device-height: 320px)
and (orientation: landscape)
{
    
}





/*iPads (portrait e landscape)*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
{
    
}
 
/*iPads (landscape)*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    
}
 
/*iPads (portrait)*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
{
    
}
 
/*Desktops e laptops*/
@media only screen
and (min-width: 1224px)
{
    
}

/*Telas grandes*/
@media only screen
and (min-width: 1824px)
{
    
}
 
/*iPhone 4*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
{
    
}