@charset "utf-8";

footer          { float: left; position: relative; clear: both; margin: 10px 0 0 6.54166666666666666666666666666667px; /*6.5px*/ width: 100%; max-width: 1200px; height: 15px; padding: 3px 0 10px 0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
footer p        { margin: 0 auto; }
#Rodape         { float: left; width: 100%; /*font-family: 'Cardo', serif;*/ font-size: 10px; }
.Copyright      { width: 100%; float: left;		text-align: center; color: black; /*background-color: #00CD00*/ }
.Desenvolvedor  { width: 100%; float: right;	text-align: center; color: black; /*background-color: #0044cc*/ }